webservices/dss.xsd

<?xml version="1.0" encoding="UTF-8"?>
 <schema targetNamespace="urn:copy"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:dss="urn:copy"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <!-- operation request element -->
  <element name="Authenticate">
   <complexType>
    <sequence>
     <element name="userName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="password" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="AuthenticateResponse">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SignOff">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SignOffResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Apartment-CreateSetFromGroup">
   <complexType>
    <sequence>
     <element name="groupName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Apartment-CreateSetFromGroupResponse">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Apartment-CreateSetFromDeviceIDs">
   <complexType>
    <sequence>
     <element name="ids" type="dss:ArrayOfint" minOccurs="1" maxOccurs="1" nillable="false"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Apartment-CreateSetFromDeviceIDsResponse">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Apartment-CreateSetFromDeviceNames">
   <complexType>
    <sequence>
     <element name="names" type="dss:ArrayOfstring" minOccurs="1" maxOccurs="1" nillable="false"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Apartment-CreateSetFromDeviceNamesResponse">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Apartment-CreateEmptySet">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Apartment-CreateEmptySetResponse">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Apartment-GetDevices">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Apartment-GetDevicesResponse">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Apartment-GetDeviceIDByName">
   <complexType>
    <sequence>
     <element name="deviceName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Apartment-GetDeviceIDByNameResponse">
   <complexType>
    <sequence>
     <element name="deviceID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Set-AddDeviceByName">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Set-AddDeviceByNameResponse">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Set-AddDeviceByID">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Set-AddDeviceByIDResponse">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Set-Combine">
   <complexType>
    <sequence>
     <element name="setID1" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="setID2" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Set-CombineResponse">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Set-Remove">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="setIDToRemove" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Set-RemoveResponse">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Set-ByGroup">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Set-ByGroupResponse">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Set-RemoveDevice">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Set-RemoveDeviceResponse">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Set-AddDevice">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Set-AddDeviceResponse">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Apartment-GetGroupByName">
   <complexType>
    <sequence>
     <element name="groupName" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Apartment-GetGroupByNameResponse">
   <complexType>
    <sequence>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Apartment-GetRoomByName">
   <complexType>
    <sequence>
     <element name="roomName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Apartment-GetRoomByNameResponse">
   <complexType>
    <sequence>
     <element name="roomID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Apartment-GetRoomIDs">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Apartment-GetRoomIDsResponse">
   <complexType>
    <sequence>
     <element name="roomIDs" type="dss:ArrayOfint" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Set-TurnOn">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Set-TurnOnResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Set-TurnOff">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Set-TurnOffResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Set-IncreaseValue">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="paramID" type="xsd:int" minOccurs="1" maxOccurs="1" default="-1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Set-IncreaseValueResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Set-DecreaseValue">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="paramID" type="xsd:int" minOccurs="1" maxOccurs="1" default="-1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Set-DecreaseValueResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Set-Enable">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Set-EnableResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Set-Disable">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Set-DisableResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Set-StartDim">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="directionUp" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
     <element name="paramID" type="xsd:int" minOccurs="1" maxOccurs="1" default="-1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Set-StartDimResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Set-EndDim">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="paramID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Set-EndDimResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Set-SetValue">
   <complexType>
    <sequence>
     <element name="setID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="value" type="xsd:float" minOccurs="1" maxOccurs="1"/>
     <element name="paramID" type="xsd:int" minOccurs="1" maxOccurs="1" default="-1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Set-SetValueResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Device-TurnOn">
   <complexType>
    <sequence>
     <element name="deviceID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Device-TurnOnResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Device-TurnOff">
   <complexType>
    <sequence>
     <element name="deviceID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Device-TurnOffResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Device-IncreaseValue">
   <complexType>
    <sequence>
     <element name="deviceID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="paramID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Device-IncreaseValueResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Device-DecreaseValue">
   <complexType>
    <sequence>
     <element name="deviceID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="paramID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Device-DecreaseValueResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Device-Enable">
   <complexType>
    <sequence>
     <element name="deviceID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Device-EnableResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Device-Disable">
   <complexType>
    <sequence>
     <element name="deviceID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Device-DisableResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Device-StartDim">
   <complexType>
    <sequence>
     <element name="deviceID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="directionUp" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
     <element name="paramID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Device-StartDimResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Device-EndDim">
   <complexType>
    <sequence>
     <element name="deviceID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="paramID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Device-EndDimResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Device-SetValue">
   <complexType>
    <sequence>
     <element name="deviceID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="value" type="xsd:float" minOccurs="1" maxOccurs="1"/>
     <element name="paramID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Device-SetValueResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Device-GetValue">
   <complexType>
    <sequence>
     <element name="deviceID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Device-GetValueResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:float" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Device-GetDSID">
   <complexType>
    <sequence>
     <element name="deviceID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Device-GetDSIDResponse">
   <complexType>
    <sequence>
     <element name="result" type="DSID" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Apartment-GetModulatorIDs">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Apartment-GetModulatorIDsResponse">
   <complexType>
    <sequence>
     <element name="ids" type="dss:ArrayOfint" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Modulator-GetDSID">
   <complexType>
    <sequence>
     <element name="modulatorID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Modulator-GetDSIDResponse">
   <complexType>
    <sequence>
     <element name="dsid" type="DSID" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Modulator-GetName">
   <complexType>
    <sequence>
     <element name="modulatorID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Modulator-GetNameResponse">
   <complexType>
    <sequence>
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Apartment-AllocateRoom">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Apartment-AllocateRoomResponse">
   <complexType>
    <sequence>
     <element name="roomID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Apartment-DeleteRoom">
   <complexType>
    <sequence>
     <element name="roomID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Apartment-DeleteRoomResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Room-AddDevice">
   <complexType>
    <sequence>
     <element name="roomID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Room-AddDeviceResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Room-RemoveDevice">
   <complexType>
    <sequence>
     <element name="roomID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Room-RemoveDeviceResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Room-SetName">
   <complexType>
    <sequence>
     <element name="roomID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Room-SetNameResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Apartment-AllocateUserGroup">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Apartment-AllocateUserGroupResponse">
   <complexType>
    <sequence>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Group-RemoveUserGroup">
   <complexType>
    <sequence>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Group-RemoveUserGroupResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Group-AddDevice">
   <complexType>
    <sequence>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Group-AddDeviceResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Group-RemoveDevice">
   <complexType>
    <sequence>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Group-RemoveDeviceResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Event-Raise">
   <complexType>
    <sequence>
     <element name="eventID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="sourceID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="params" type="dss:Parameter" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Event-RaiseResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Event-GetActionNames">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Event-GetActionNamesResponse">
   <complexType>
    <sequence>
     <element name="names" type="dss:ArrayOfstring" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Event-GetActionParamsTemplate">
   <complexType>
    <sequence>
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Parameter">
   <complexType>
    <sequence>
     <element name="values" type="dss:ArrayOfstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="names" type="dss:ArrayOfstring" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Event-Subscribe">
   <complexType>
    <sequence>
     <element name="eventIDs" type="dss:ArrayOfint" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="sourceIDs" type="dss:ArrayOfint" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="actionName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="params" type="dss:Parameter" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Event-SubscribeResponse">
   <complexType>
    <sequence>
     <element name="subscriptionID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Event-Unsubscribe">
   <complexType>
    <sequence>
     <element name="subscriptionID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Event-UnsubscribeResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Event-Schedule">
   <complexType>
    <sequence>
     <element name="icalString" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="eventID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="params" type="dss:Parameter" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Event-ScheduleResponse">
   <complexType>
    <sequence>
     <element name="scheduledEventID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Event-DeleteSchedule">
   <complexType>
    <sequence>
     <element name="scheduleEventID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Event-DeleteScheduleResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
 </schema>

