webservices/dss.xsd

<?xml version="1.0" encoding="UTF-8"?>
 <schema targetNamespace="urn:dss:1.0"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:dss="urn:dss:1.0"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="Event">
   <sequence>
     <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="parameter" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
   </sequence>
  </complexType>
  <!-- operation request element -->
  <element name="Authenticate">
   <complexType>
    <sequence>
     <element name="userName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="password" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="AuthenticateResponse">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SignOff">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SignOffResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ApartmentCreateSetFromGroup">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="groupName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ApartmentCreateSetFromGroupResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ApartmentCreateSetFromDeviceIDs">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="ids" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ApartmentCreateSetFromDeviceIDsResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ApartmentCreateSetFromDeviceNames">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="names" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ApartmentCreateSetFromDeviceNamesResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ApartmentGetDevices">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ApartmentGetDevicesResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ApartmentGetDeviceIDByName">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ApartmentGetDeviceIDByNameResponse">
   <complexType>
    <sequence>
     <element name="deviceID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SetAddDeviceByName">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="setSpec" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SetAddDeviceByNameResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SetAddDeviceByID">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="setSpec" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="deviceID" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SetAddDeviceByIDResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SetRemoveDevice">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="setSpec" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="deviceID" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SetRemoveDeviceResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SetCombine">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="setSpec1" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="setSpec2" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SetCombineResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SetRemove">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="setSpec" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="setSpecToRemove" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SetRemoveResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SetByGroup">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="setSpec" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SetByGroupResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SetGetContainedDevices">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="setSpec" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SetGetContainedDevicesResponse">
   <complexType>
    <sequence>
     <element name="deviceIDs" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ApartmentGetGroupByName">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="groupName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ApartmentGetGroupByNameResponse">
   <complexType>
    <sequence>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ApartmentGetZoneByName">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="zoneName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ApartmentGetZoneByNameResponse">
   <complexType>
    <sequence>
     <element name="zoneID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ApartmentGetZoneIDs">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ApartmentGetZoneIDsResponse">
   <complexType>
    <sequence>
     <element name="zoneIDs" type="xsd:int" minOccurs="1" maxOccurs="unbounded"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SetTurnOn">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="setSpec" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SetTurnOnResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SetTurnOff">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="setSpec" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SetTurnOffResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SetIncreaseValue">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="setSpec" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SetIncreaseValueResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SetDecreaseValue">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="setSpec" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SetDecreaseValueResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SetStartDim">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="setSpec" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="directionUp" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SetStartDimResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SetEndDim">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="setSpec" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SetEndDimResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SetSetValue">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="setSpec" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="value" type="xsd:double" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SetSetValueResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SetCallScene">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="setSpec" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="sceneNr" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SetCallSceneResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SetSaveScene">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="setSpec" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="sceneNr" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SetSaveSceneResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ApartmentTurnOn">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ApartmentTurnOnResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ApartmentTurnOff">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ApartmentTurnOffResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ApartmentIncreaseValue">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ApartmentIncreaseValueResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ApartmentDecreaseValue">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ApartmentDecreaseValueResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ApartmentStartDim">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="directionUp" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ApartmentStartDimResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ApartmentEndDim">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ApartmentEndDimResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ApartmentSetValue">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="value" type="xsd:double" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ApartmentSetValueResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ApartmentCallScene">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="sceneNr" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ApartmentCallSceneResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ApartmentSaveScene">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="sceneNr" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ApartmentSaveSceneResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ApartmentRescan">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ApartmentRescanResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="CircuitRescan">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="dsid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="CircuitRescanResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ZoneTurnOn">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="zoneID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ZoneTurnOnResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ZoneTurnOff">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="zoneID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ZoneTurnOffResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ZoneIncreaseValue">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="zoneID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ZoneIncreaseValueResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ZoneDecreaseValue">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="zoneID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ZoneDecreaseValueResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ZoneStartDim">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="zoneID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="directionUp" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ZoneStartDimResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ZoneEndDim">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="zoneID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ZoneEndDimResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ZoneSetValue">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="zoneID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="value" type="xsd:double" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ZoneSetValueResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ZoneCallScene">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="zoneID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="sceneNr" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ZoneCallSceneResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ZoneSaveScene">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="zoneID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="sceneNr" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ZoneSaveSceneResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="DeviceTurnOn">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="DeviceTurnOnResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="DeviceTurnOff">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="DeviceTurnOffResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="DeviceIncreaseValue">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="DeviceIncreaseValueResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="DeviceDecreaseValue">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="DeviceDecreaseValueResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="DeviceEnable">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="DeviceEnableResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="DeviceDisable">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="DeviceDisableResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="DeviceStartDim">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="directionUp" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="DeviceStartDimResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="DeviceEndDim">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="DeviceEndDimResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="DeviceSetValue">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="value" type="xsd:double" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="DeviceSetValueResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="DeviceGetValue">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="paramID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="DeviceGetValueResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:double" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="DeviceCallScene">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="sceneNr" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="DeviceCallSceneResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="DeviceSaveScene">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="sceneNr" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="DeviceSaveSceneResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="DeviceGetName">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="DeviceGetNameResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="DeviceGetZoneID">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="DeviceGetZoneIDResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="DSMeterGetPowerConsumption">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="dsMeterID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="DSMeterGetPowerConsumptionResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ApartmentGetDSMeterIDs">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ApartmentGetDSMeterIDsResponse">
   <complexType>
    <sequence>
     <element name="ids" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="DSMeterGetName">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="dsMeterID" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="DSMeterGetNameResponse">
   <complexType>
    <sequence>
     <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ApartmentAllocateZone">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ApartmentAllocateZoneResponse">
   <complexType>
    <sequence>
     <element name="zoneID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ApartmentDeleteZone">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="zoneID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ApartmentDeleteZoneResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Zone-AddDevice">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="zoneID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Zone-AddDeviceResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Zone-RemoveDevice">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="zoneID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Zone-RemoveDeviceResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Zone-SetName">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="zoneID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="Zone-SetNameResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ApartmentAllocateUserGroup">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ApartmentAllocateUserGroupResponse">
   <complexType>
    <sequence>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="GroupRemoveUserGroup">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="GroupRemoveUserGroupResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="GroupAddDevice">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="GroupAddDeviceResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="GroupRemoveDevice">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="groupID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="GroupRemoveDeviceResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="DeviceGetFunctionID">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="DeviceGetFunctionIDResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SwitchGetGroupID">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="deviceID" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SwitchGetGroupIDResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="EventRaise">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="eventName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="context" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="parameter" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="location" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="EventRaiseResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="EventWaitFor">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="timeout" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="EventWaitForResponse">
   <complexType>
    <sequence>
     <element name="result" type="dss:Event" minOccurs="1" maxOccurs="unbounded"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="EventSubscribeTo">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="EventSubscribeToResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="PropertyGetType">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="propertyName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="PropertyGetTypeResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="PropertySetInt">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="propertyName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="value" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="mayCreate" type="xsd:boolean" minOccurs="1" maxOccurs="1" default="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="PropertySetIntResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="PropertySetString">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="propertyName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="value" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="mayCreate" type="xsd:boolean" minOccurs="1" maxOccurs="1" default="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="PropertySetStringResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="PropertySetBool">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="propertyName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="value" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
     <element name="mayCreate" type="xsd:boolean" minOccurs="1" maxOccurs="1" default="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="PropertySetBoolResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="PropertyGetInt">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="propertyName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="PropertyGetIntResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="PropertyGetString">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="propertyName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="PropertyGetStringResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="PropertyGetBool">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="propertyName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="PropertyGetBoolResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="PropertyGetChildren">
   <complexType>
    <sequence>
     <element name="token" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="propertyName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="PropertyGetChildrenResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
    </sequence>
   </complexType>
  </element>
 </schema>

